@{
    ViewData["Title"] = "GetEventList";
}

@model EventRootobject

<h1 style="text-align:center;">Events</h1>
<div>
    <form action="../TicketMaster/GetEventList" method="post">
        <input type="submit" name="page" value="1" placeholder="1" />
        <input type="submit" name="page" value="2" placeholder="2" />
        <input type="submit" name="page" value="3" placeholder="3" />
    </form>
    <br />
    <table style="text-align:center;" class="table table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Attraction Type</th>
                <th>Url</th>
                <th>Location</th>
                <th>Image</th>
                <th>Add to Favourites</th>
            </tr>
        </thead>
        @for (int i = 0; i < Model._embedded.attractions.Length; i++)
        {
            <tr>
                <td>@Model._embedded.attractions[i].name</td>
                <td>@Model._embedded.attractions[i].type</td>
                <td><a href="@Model._embedded.attractions[i].url">Link to @Model._embedded.attractions[i].name Event</a></td>
                <td>@Model._embedded.attractions[i].locale</td>
                <td><img style="width:200px;" src="@Model._embedded.attractions[i].images" /></td>



                <td>
                    <form action="../EventFavourites/AddToFavorites" method="post">

                        <input type="hidden" name="Name" value="@Model._embedded.attractions[i].name" />
                        <input type="hidden" name="Type" value="@Model._embedded.attractions[i].type" />
                        <input type="hidden" name="Url" value="@Model._embedded.attractions[i].url" />
                        <input type="hidden" name="Locale" value="@Model._embedded.attractions[i].locale" />
                        <button type="submit" name="Submit" class="btn btn-outline-success">Add to Favourite</button>

                    </form>
                </td>
            </tr>
        }



    </table>
    <br />
    <form action="../TicketMaster/GetEventList" method="post">
        <input type="submit" name="page" value="1" placeholder="1" />
        <input type="submit" name="page" value="2" placeholder="2" />
        <input type="submit" name="page" value="3" placeholder="3" />
    </form>

</div>