
@{
    ViewData["Title"] = "FavouriteList";
}
@model List<Favourite>

<h1 style="text-align:center;"> Your Favourites</h1>

<div>
    <table style="text-align:center;" class="table table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Attraction Type</th>
                <th>Url</th>
                <th>Location</th>
                <th>Remove From Favourites</th>
            </tr>
        </thead>

        @foreach (Favourite favourite in Model)
        {
            <tr>
                <td>@favourite.Name</td>
                <td>@favourite.EventType</td>
                <td><a href="@favourite.Url">Link to @favourite.Name Event</a></td>
                <td>@favourite.Locale</td>
                <td><a class="btn btn-outline-danger" href="../EventFavourites/RemoveFromFavorites?id=@favourite.Id">Remove from Favourites</a></td>

            </tr>
        }
    </table>
</div>